<div class="order-history-container">
    <h2>Order History</h2>
    {{ error }}
    <nz-table #basicTable [nzData]="orders" *ngIf="orders.length > 0">
      <thead>
        <tr>
          <th>Username</th>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td>{{ item.user }}</td>
          <td>{{ item.p_name }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>